<template>
  <div>
    <h4>Test API</h4>
    {{this.apiData}}
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from "axios";

import superagent from "superagent";

@Component({
  components: {},
})
export default class Home extends Vue {
  apiData: any = {};
  domainURL: string = "https://armiot.atlassian.net/rest/api/3/issue/CBUG-2";
  access_token: string = window.btoa(
    "steven.mcsorley@arm.com:lPneXiYZCf7eI93sRuRr5269"
  );
  accessToken64: string =
    "c3RldmVuLm1jc29ybGV5QGFybS5jb206bFBuZVhpWVpDZjdlSTkzc1J1UnI1MjY5";

  private async mounted() {
    await this.testApiCall();
    // await this.testApiCallSA();
  }

  private async testApiCall() {
    try {
      const data = await axios.get(this.domainURL, {
        headers: {
          Authorization: `Basic ${this.accessToken64}`,
        },
      });
      console.log(data);
      this.apiData = data;
    } catch (error) {
      console.log("error", error);
    }
  }

  // private async testApiCallSA() {
  //   try {
  //     const data = await superagent.get(this.domainURL).set({
  //       Authorization: "steven.mcsorley@arm.com:lPneXiYZCf7eI93sRuRr5269",
  //     });
  //     console.log(data);
  //   } catch (error) {
  //     console.log("error", error);
  //   }
  // }
}
</script>
